{#
    $Project: Advanced Filter $
    $Author: karapuz team <support@ka-station.com> $
    $Version: 1.0.1.2 $ ($Revision: 60 $)
#}
	 	<a class="list-group-item">{{ text_category }}</a>
		<div class="list-group-item">
          <select name="filter_category_id" id="filter-category-id" class="form-control" autocomplete="off">
            <option value="0">{{ text_all_categories }}</option>
            {% for category_1 in categories %}
            {% if category_1.category_id == category_id %}
            <option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>
            {% else %}
            <option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
            {% endif %}
            {% for category_2 in category_1.children %}
            {% if category_2.category_id == category_id %}
            <option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
            {% else %}
            <option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
            {% endif %}
            {% for category_3 in category_2.children %}
            {% if category_3.category_id == category_id %}
            <option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
            {% else %}
            <option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endfor %}
          </select>

{% if is_with_subcategories %}
					<input type="checkbox" id="filter-subcategory" name="sub_category" value="1" checked="checked" style="display:none;" />
{% else %}
          <label class="checkbox-inline">
            {% if sub_category %}
            <input type="checkbox" id="filter-subcategory" name="sub_category" value="1" checked="checked" autocomplete="off" />
            {% else %}
            <input type="checkbox" id="filter-subcategory" name="sub_category" value="1" autocomplete="off"  />
            {% endif %}
            {{ text_sub_category }}</label>
{% endif %}            
		</div>
<script>
$(document).ready(function() {
	$('#filter-category-id').on('change', function() {
		$('#button-filter').trigger('click');
	});
});

</script>		